@charset "UTF-8";
@font-face {
    font-family: "阿里妈妈数黑体";
    src: url('AlimamaShuHeiTi-Bold.ttf');   // 注意这里的路径
    
}
@font-face {
    font-family: "液晶";
    src: url('DigitalNumbers.ttf');   // 注意这里的路径
}