a{
    color:rgb(230, 227, 236);
    color:rgb(178, 206, 244);
    color:rgb(147, 195, 243);
    color:rgb(70, 139, 232);
    color:rgb(43, 118, 222);
    color:rgb(3, 51, 235);
    color:rgb(226, 168, 0);
    
}